.google{
    padding-left: 500px;
    padding-top: 210px;
    width: 300px;
    height: 100px;
}
.text{
  margin-left: 30%;
  margin-top: 30px;
  width: 570px;
  height: 35px;
  font-size: 14px;
}
.right{
    float: right;
}
.dot{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 15px;
}
.footer{
    background-color: #f2f2f2;
    position: absolute;
    right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  font-family: arial;
  font-size: 13px;
  border-top: 1px solid #e6e6e6;
}
#fb{
    margin-left: 575px;
  font-size: 13px;
  text-align: center;
  height: 35px;
  width: 135px;
  margin-top: 10px;
  border: 0;
}
#sb{
  font-size: 13px;
  text-align: center;
  height: 35px;
  width: 135px;
  margin-top: 10px;
  border: 0;
}
#advertising{
    float: left;
    text-decoration: none;
    margin-top: 13px;
    margin-left: 30px;
}
#advertising:hover{
    text-decoration: underline;
}
#business{
    float: left;
    text-decoration: none;
    margin-top: 13px;
    margin-left: 30px;
}
#business:hover{
    text-decoration: underline;
}
#about{
    float: left;
    text-decoration: none;
    margin-top: 13px;
    margin-left: 30px;
}
#about:hover{
    text-decoration: underline;
}
#privacy{
    float: right;
    text-decoration: none;
    margin-top: 13px;
    margin-left: 30px;
}
#privacy:hover{
    text-decoration: underline;
}
#settings{
    float: right;
    text-decoration: none;
    margin-top: 13px;
    margin-left: 30px;
}
#settings:hover{
    text-decoration: underline;
}
#terms{
    float: right;
    text-decoration: none;
    margin-top: 13px;
    margin-left: 30px;
}
#terms:hover{
    text-decoration: underline;
}
#signin{
    width: 100px;
    height: 30px;
    background-color: blue;
    border-radius: 3px;
    width: 80px;
}
#gmail{
    margin-right: 10px;
    text-decoration: none;
}
#gmail:hover{
    text-decoration: underline;
}
